{% extends 'base.html.twig' %}

{% block title %}À propos - Ducati{% endblock %}

{% block page_title %}
    À propos de Ducati
{% endblock %}

{% block main %}
    <div class="card highlight">
        <h2>Histoire</h2>
        <p>
            Fondée en Italie, Ducati est une marque mythique du sport moto.
        </p>
    </div>
<div class="center-buttons">
    <button onclick="history.back()" class="ducati-btn">
        ←  Retour
    </button>

    <a href="#" class="ducati-btn">
        ⬆ Haut de page
    </a>
</div>
{% endblock %}
