{% extends 'base.html.twig' %}

{% block title %}Accueil - Ducati{% endblock %}

{% block page_title %}
    Bienvenue chez Ducati
{% endblock %}

{% block main %}
    <div class="card highlight">
        <h2>L'ADN Ducati</h2>
        <p>
            Ducati incarne la performance, le design italien et la passion de la moto.
        </p>
    </div>

    <div class="card highlight">
        <h2>Pourquoi Ducati ?</h2>
        <p>
            Technologie, compétition, innovation et caractère unique.
        </p>
    </div>
{% endblock %}
