<nav>
    <a href="{{ path('home') }}">Accueil</a>
    <a href="{{ path('about') }}">Histoire</a>
    <a href="{{ path('models') }}">Modèle</a>
    <a href="{{ path('moto_create') }}">Ajouter</a>
</nav>
