{% macro card(model) %}
    <div class="card {% if model.flagship %}highlight{% endif %}">
        <h2>{{ model.name|upper }}</h2>

        <p>Moteur : {{ model.engine|default('Non précisé') }}</p>
        <p>Puissance : {{ model.power }} ch</p>

        <p>Catégorie : {{ ducati_badge(model.power) }}</p>

        {% if model.flagship %}
            <p><strong>version haute performance</strong></p>
        {% endif %}
    </div>
{% endmacro %}
